<h2>


    <i class="fas fa-cloud-upload-alt"></i> Subir CSV</h2>

<mat-card>

    <input type="file" class="upload" (change)="onFileChange($event)" accept=".xlsx">

    <p class="text-primary" style="font-size: 11px;">Formato CSV (por comas)</p>

    <p class="text-secondary" style="margin-top: 10px; font-size: 11px;">
        <h3><a target="_blank" href="https://drive.google.com/file/d/1rnl_httV40ym9AWNFMOHc-HND7MRoXm4/view?usp=sharing"> Descargar Ejemplo CSV</a></h3>




</mat-card>

<mat-card *ngIf="resultados">
    Resultados
    <div>
        <p class="text-danger" style="font-size: 10px;"> ({{errores}}):</p>
    </div>

    <div>
        <p class="text-success" style="font-size: 10px;"> Se cargo correctamente ({{data.length}}) resultados</p>

    </div>


</mat-card>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>