<div class="d-flex justify-content-center" style="margin-left: 10%; max-width: 80%;">
    <div class="d-flex justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/banner_user.png" alt="Photo of a Shiba Inu">


            </mat-card>
        </div>
        <div class="p-2 bd-highlight">
            <mat-card class="example-card">
                <mat-card-header>

                </mat-card-header>
                <img mat-card-image src="../../../assets/img/banner_profesores.png" alt="Photo of a Shiba Inu">


            </mat-card>

        </div>
        <div class="p-2 bd-highlight">
            <mat-card class="example-card">

                <img mat-card-image src="../../../assets/img/banner_alumnos.png" alt="Photo of a Shiba Inu">


            </mat-card>
        </div>
    </div>
</div>