<h2 mat-dialog-title>{{titulo}}</h2>
<mat-dialog-content class="mat-typography">

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre de evaluación</mat-label>
            <input matInput placeholder="nombre corto" [(ngModel)]="evaExamen.nombre">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Breve descripción" [(ngModel)]="evaExamen.descripcion"></textarea>
        </mat-form-field>
        <div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field color="accent">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input matInput [(ngModel)]="evaExamen.fechainicio" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field style="width: 70px;">
                    <mat-label>Hora</mat-label>
                    <input type="datetime" matInput placeholder="HH:mm" [(ngModel)]="horainicia">
                    <mat-icon matSuffix>alarm</mat-icon>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field color="accent">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput [(ngModel)]="evaExamen.fechafin" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>

                <mat-form-field style="width: 70px;">
                    <mat-label>Hora</mat-label>
                    <input type="datetime" matInput placeholder=" HH:mm" [(ngModel)]="horatermina">
                    <mat-icon matSuffix>alarm</mat-icon>
                </mat-form-field>
            </div>
        </div>







    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="guardarCambios()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>