<h3>Registrar Profesor</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Documento de Identidad</mat-label>
        <input matInput placeholder="Nº de DNI">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Nombres completos</mat-label>
        <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Apellido paterno</mat-label>
        <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Apellido materno</mat-label>
        <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Solo Gmail">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input type="date" matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Cargo</mat-label>
        <mat-select>
            <mat-option value="value">
                Administrador
            </mat-option>
            <mat-option value="value">
                Operador
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="d-flex justify-content-end"> <button mat-button>cancelar</button>
        <button mat-button color="primary">Guardar</button>
    </div>

</form>